body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f05656;
    color: white;
    padding: 1em;
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.products{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    border: 10px solid #ccc;
  
    width:100%;
}
 .cart {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: 10px solid #ccc;
  
    width:50%;
}

.product {
  
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width:100%;
    
}

.product:last-child {
    border-bottom: none;
}

.add-to-cart {
    background-color: #7d9aad;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #d7eb55;
}

.cart-items {
    list-style-type: none;
    padding: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.cart-item button {
    background-color: red;
    color: white
}

.cart-item button
{
background-color: darkred;
}

.total {
margin-top: 20px;
font-size: 1.2em;
}

.checkout {
background-color: #e49235;
color: white;
border: none;
padding: 10px 10px;
cursor: pointer;
width: 100%;
margin-top: 10px;
}

.checkout
{
background-color: #edbd54;
display:flex;
flex-wrap:wrap;
width:100%;
padding:20px;

}